.container {
  width: 70% !important;
  margin: 0px auto;
  position: relative;
}

.padding-0 {
  padding: 0;
}

.active-list {
  background-color: #eee;
}

.fixed-bottom {
  position: fixed;
  bottom: 70px;
  margin: auto;
  z-index: 30;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #3e454c;
  border: 1px solid;
  border-color: #3e454c;
  z-index: 10;
}

body {
  margin-bottom: 60px;
  overflow-y: scroll;
}

.pointer {
  cursor: pointer;
}

/*adds bottom border to table for pagination*/
.table-list {
  border: solid;
  border-width: 0 0 1px 0;
  border-color: rgb(221, 221, 221);
}

.vertical-center-table {
  margin-top: 118px;
}

.vertical-center-list {
  margin-top: 108px;
}

.table-panel {
  min-height: 400px;
}

.list-panel {
  min-height: 376px;
}

.list-min-size {
  min-height: 197px;
}

.disable-panel {
  opacity: 0.5;
  pointer-events: none;
}

.share_button:hover {
  text-decoration: none;
}

.share_button:active {
  text-decoration: none;
}

.share_button:link {
  text-decoration: none;
}

.share_button:visited {
  text-decoration: none;
}

.nested-list-item {
  padding: 10px 15px;
  border: 1px solid #ddd;
}
